/* HERO */

.hero {
    .access {
        background-color: $color-access;
    }
}

// ACCESS WORKS GRID
.access-works-grid {
    display: grid;
    margin-top: 4em;
    grid-gap: 1em;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: ". insta postcards postcards postcards banner banner banner ." ". facebook survey survey survey banner banner banner .";
    .insta {
        grid-area: insta;
    }
    .facebook {
        grid-area: facebook;
    }
    .postcards {
        grid-area: postcards;
    }
    .survey {
        grid-area: survey;
    }
    .banner {
        grid-area: banner;
    }
}

@media (max-width: $breakpoint-small) {
    .astro-works-grid {
        display: block;
        .astro_insta {
            margin-bottom: 1em;
        }
    }
}

// LOGO GRID 
.access_logo_grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "blue_logo blue_logo""white_logo black_logo ";
    .blue_logo {
        grid-area: blue_logo;
    }
    .white_logo {
        grid-area: white_logo;
    }
    .black_logo {
        grid-area: black_logo;
    }
}

@media (max-width: $breakpoint-small) {
    .access_logo_grid {
        display: block;
        .blue_logo,
        .white_logo,
        .black_logo {
            margin-bottom: 1em;
        }
    }
}

// ARTWORK GRID
.access_illust_grid {
    display: grid;
    margin-top: 4em;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "blue_rings rings teal_rings" "access_icon access_icon access_icon";
    .blue_rings {
        grid-area: blue_rings;
    }
    .rings {
        grid-area: rings;
    }
    .teal_rings {
        grid-area: teal_rings;
    }
    .access_icon {
        grid-area: access_icon;
    }
}

.access_art_mobile {
    img {
        padding-left: 1em;
        padding-right: 1em;
    }
}

// ORIGINAL LOGO 
.original_logo {
    padding-bottom: 7em;
    .row {
        align-items: center;
        .two-thirds {
            padding-right: 5em;
        }
    }
}