    /* HERO */
    
    .hero {
        .astroday {
            background-color: $color-space;
        }
    }
    
    // ASTRO WORKS GRID
    .astro-grid {
        display: grid;
        margin-top: 4em;
        grid-gap: 1em;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: ". . a_insta a_insta a_fb a_fb . .";
        .a_insta {
            grid-area: a_insta;
        }
        .a_fb {
            grid-area: a_fb;
        }
    }
    
    @media (max-width: $breakpoint-small) {
        .astro-grid {
            display: block;
            .a_insta,
            .a_fb {
                margin-bottom: 1em;
                width: 60%;
                margin: 0 auto;
            }
        }
    }