// HERO HOMEPAGE_________________________________________
.home-hero {
    background-image: url("img/tomy_logo_home.svg");
    img {
        margin: 0;
        padding: 0;
    }
}

.quote {
    margin-top: 10em;
    margin-bottom: 5em;
    .yellow-circle {
        border: 5px solid $color-yellow;
        background-color: $color-white;
        border-radius: 50%;
        height: 1.2em;
        width: 1.2em;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.about_me {
    display: grid;
    margin-top: 0;
    place-items: center;
    grid-gap: 1em;
    margin-bottom: 12em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". small-title small-title ." ". button button .";
    grid-gap: 0;
    .small-title {
        border-top: 2px dashed $color-red;
        padding-top: 2em;
        grid-area: small-title;
        text-align: center;
    }
    .button {
        grid-area: button;
    }
}

// index quote____________
.quote {
    margin-bottom: 5em;
    margin-top: 3em;
}

// index work__________________
.sort-selection {
    display: block;
}

.case-studies {
    margin-bottom: 5em;
}

.index_card {
    padding-bottom: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-out;
    background-color: white;
    .award_b_corner {
        right: 0;
        bottom: 0;
        width: 7em;
        position: absolute;
        z-index: 100;
    }
    .work-image {
        padding: 0em 0 .5em 0;
        a .index_card_img {
            transition: all 0.1s ease-out;
            overflow: hidden;
            display: block;
        }
    }
    .line_index {
        margin-right: 5em;
    }
    .work_text_home {
        h2 {
            text-decoration: none;
            margin-left: 2em;
            font-size: 1.5em;
        }
        .align-right-type {
            margin-right: 1.5em;
            .work-title,
            h3 {
                font-weight: 100;
                text-align: right;
                margin-bottom: 2em;
                font-size: 1em;
            }
            .award_index {
                font-family: $bodyfont-family;
                font-size: 1.3em;
                font-weight: 500;
                color: $color-red;
                font-style: italic;
                z-index: 100;
                margin-top: 0;
                text-align: right;
            }
            // .gold {
            //     color: $color-gold;
            // }
            // .silver {
            //     color: $color-silver;
            // }
            // .bronze {
            //     color: $color-bronze;
            // }
            .no-award {
                margin-bottom: 5em;
            }
        }
    }
}

// index card hover state_______
.index_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    a img {
        transform: scale(1.03);
    }
}

.work_text_home:hover {
    h2,
    h3 {
        text-decoration: none;
    }
    img:hover {
        animation-play-state: paused;
    }
}

@media (max-width: $breakpoint-small) {
    .index_card {
        margin-bottom: 0;
    }
}