                    // HERO HOMEPAGE_________________________________________
                    .home-hero {
                        background-image: url("img/tomy_logo_home.svg");
                        img {
                            margin-top: 0;
                            padding-top: 0;
                        }
                    }
                    
                    .quote {
                        margin-top: 10em;
                        margin-bottom: 5em;
                        .yellow-circle {
                            border: 5px solid $color-yellow;
                            background-color: $color-white;
                            border-radius: 50%;
                            height: 1.2em;
                            width: 1.2em;
                            margin-left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    
                    .about_me {
                        display: grid;
                        margin-top: 0;
                        place-items: center;
                        grid-gap: 1em;
                        margin-bottom: 12em;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-areas: ". small-title small-title ." ". button button .";
                        grid-gap: 0;
                        .small-title {
                            border-top: 2px dashed $color-red;
                            padding-top: 2em;
                            grid-area: small-title;
                            text-align: center;
                        }
                        .button {
                            grid-area: button;
                        }
                    }
                    
                    // work_______________________
                    #work_gallery {
                        h1 {
                            margin-bottom: 0.2em;
                        }
                    }
                    
                    .sort-selection {
                        display: grid;
                        place-items: center;
                        grid-template-areas: ". graphics graphics brand brand .";
                        grid-template-columns: repeat (6, 1fr);
                        margin-bottom: 2em;
                        .graphics {
                            grid-area: graphics;
                        }
                        .brand {
                            grid-area: brand;
                        }
                    }
                    
                    .wrapper {
                        margin-bottom: 2em;
                        width: 100%;
                        .case-studies {
                            h1 {
                                margin: 5em 0 3em 0;
                                opacity: .7;
                                text-align: center;
                                font-size: 1.2em;
                                color: $color-red;
                                letter-spacing: 0.2em;
                            }
                            .row {
                                .work_text_home {
                                    margin-right: -13em;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                .work-image {
                                    margin-left: 16em;
                                    margin-bottom: 3em;
                                }
                            }
                            #brand {
                                margin-top: 5em;
                            }
                        }
                    }
                    
                    // INDEX WORK ENTRY MARGIN TOP______________________________
                    @media (max-width: $breakpoint-small) {
                        .index_entry_section {
                            margin-top: 8em;
                        }
                    }
                    
                    // WORK BRAND LINE__________________
                    .reverse-line {
                        transform: scaleX(-1);
                    }
                    
                    // MEDAL INDEX AND SUB-PAGE——————————————————————————
                    .award_subhead_desktop,
                    .award_subhead_mobile {
                        visibility: visible;
                        display: flex;
                        align-items: center;
                        .medal_img {
                            max-width: 2em;
                            margin-right: 1em;
                            margin-bottom: 0;
                            margin-top: .2em;
                        }
                    }
                    
                    .award_title_index {
                        margin-top: 0;
                    }
                    
                    .award_subhead_mobile {
                        visibility: hidden;
                        position: absolute;
                    }
                    
                    // INDEX WORK GRID_______________
                    .index_desktop_grid {
                        margin-bottom: 5em;
                        display: grid;
                        grid-gap: 2em;
                        grid-template-columns: repeat(8, 1fr);
                        grid-template-areas: ". graphics graphics . . brand brand ." "solar_index_text solar_index_text solar_index_text solar_index_text pele_index_text pele_index_text pele_index_text pele_index_text" "solar_index_img solar_index_img solar_index_img solar_index_img pele_index_img pele_index_img pele_index_img pele_index_img" "dino_index_text dino_index_text dino_index_text dino_index_text conquest_index_text conquest_index_text conquest_index_text conquest_index_text" "dino_index_img dino_index_img dino_index_img dino_index_img conquest_index_img conquest_index_img conquest_index_img conquest_index_img" "zoo_index_text zoo_index_text zoo_index_text zoo_index_text sootheze_index_text sootheze_index_text sootheze_index_text sootheze_index_text""zoo_index_img zoo_index_img zoo_index_img zoo_index_img sootheze_index_img sootheze_index_img sootheze_index_img sootheze_index_img" "okinawa_index_text okinawa_index_text okinawa_index_text okinawa_index_text . . . .""okinawa_index_img okinawa_index_img okinawa_index_img okinawa_index_img . . . ." "flutter_index_text flutter_index_text flutter_index_text flutter_index_text . . . .""flutter_index_img flutter_index_img flutter_index_img flutter_index_img . . . .""astro_index_text astro_index_text astro_index_text astro_index_text . . . .""astro_index_img astro_index_img astro_index_img astro_index_img . . . .""mcd_index_text mcd_index_text mcd_index_text mcd_index_text . . . .""mcd_index_img mcd_index_img mcd_index_img mcd_index_img . . . ." "andagi_index_text andagi_index_text andagi_index_text andagi_index_text . . . ." "andagi_index_img andagi_index_img andagi_index_img andagi_index_img . . . ." "light_index_text light_index_text light_index_text light_index_text . . . .""light_index_img light_index_img light_index_img light_index_img . . . .";
                        .graphics {
                            grid-area: graphics;
                        }
                        .brand {
                            grid-area: brand;
                        }
                        .solar_index_text {
                            grid-area: solar_index_text;
                            grid-gap: 0;
                        }
                        .solar_index_img {
                            grid-area: solar_index_img;
                        }
                        .pele_index_text {
                            grid-area: pele_index_text;
                            grid-gap: 0;
                        }
                        .pele_index_img {
                            grid-area: pele_index_img;
                        }
                        .dino_index_text {
                            grid-area: dino_index_text;
                        }
                        .dino_index_img {
                            grid-area: dino_index_img;
                        }
                        .conquest_index_text {
                            grid-area: conquest_index_text;
                        }
                        .conquest_index_img {
                            grid-area: conquest_index_img;
                        }
                        .zoo_index_text {
                            grid-area: zoo_index_text;
                        }
                        .zoo_index_img {
                            grid-area: zoo_index_img;
                        }
                        .sootheze_index_text {
                            grid-area: sootheze_index_text;
                        }
                        .sootheze_index_img {
                            grid-area: sootheze_index_img;
                        }
                        .okinawa_index_text {
                            grid-area: okinawa_index_text;
                        }
                        .okinawa_index_img {
                            grid-area: okinawa_index_img;
                        }
                        .flutter_index_text {
                            grid-area: flutter_index_text;
                        }
                        .flutter_index_img {
                            grid-area: flutter_index_img;
                        }
                        .astro_index_text {
                            grid-area: astro_index_text;
                        }
                        .astro_index_img {
                            grid-area: astro_index_img;
                        }
                        .mcd_index_text {
                            grid-area: mcd_index_text;
                        }
                        .mcd_index_img {
                            grid-area: mcd_index_img;
                        }
                        .andagi_index_text {
                            grid-area: andagi_index_text;
                        }
                        .andagi_index_img {
                            grid-area: andagi_index_img;
                        }
                        .light_index_text {
                            grid-area: light_index_text;
                        }
                        .light_index_img {
                            grid-area: light_index_img;
                        }
                    }
                    
                    .dino_index_text,
                    .conquest_index_text,
                    .zoo_index_text,
                    .okinawa_index_text,
                    .flutter_index_text,
                    .astro_index_text,
                    .mcd_index_text,
                    .andagi_index_text,
                    .light_index_text,
                    .sootheze_index_text {
                        align-self: end;
                        margin-top: 5em;
                    }
                    
                    // Media query_______________________
                    @media (max-width: $breakpoint-small) {
                        .index_desktop_grid {
                            display: block;
                        }
                        // index quote____________
                        .quote {
                            margin-bottom: 5em;
                            margin-top: 3em;
                            h1 {
                                font-size: 1.7em;
                            }
                        }
                        // index work__________________
                        .sort-selection {
                            display: block;
                        }
                        .wrapper {
                            margin-bottom: 2em;
                            .case-studies {
                                h1 {
                                    margin: 3em 0 3em 0;
                                }
                                .row {
                                    .work_text_home {
                                        display: block;
                                        margin-right: 0;
                                        margin-top: 3em;
                                        h2 {
                                            margin-bottom: -0.2em;
                                        }
                                        h3 {
                                            margin-top: -0.2em;
                                        }
                                    }
                                    .work-image {
                                        margin-left: 0;
                                        margin-bottom: 1em;
                                        margin-top: -2em;
                                    }
                                }
                            }
                        }
                        // MEDAL INDEX AND SUB-PAGE——————————————————————————
                        .award_subhead_desktop {
                            visibility: hidden;
                            margin-bottom: 0;
                            position: absolute;
                        }
                        .award_subhead_mobile {
                            visibility: visible;
                            position: relative;
                            .medal_img {
                                max-width: 2em;
                                margin-right: 1em;
                                margin-bottom: 0;
                                margin-top: .2em;
                            }
                        }
                        // WORK GRID TEXT SPACING____________
                        .index_desktop_grid {
                            margin-bottom: 5em;
                            .solar_index_text,
                            .pele_index_text,
                            .dino_index_text,
                            .conquest_index_text,
                            .zoo_index_text,
                            .okinawa_index_text,
                            .flutter_index_text,
                            .astro_index_text,
                            .mcd_index_text,
                            .andagi_index_text,
                            .light_index_text,
                            .sootheze_index_text {
                                align-self: end;
                                margin-bottom: 1em;
                            }
                        }
                    }