// media

/* #IMAGES */


/* Responsive */

img {
    max-width: 100%;
    height: auto;
}

a img {
    transition: all 0.1s ease-out;
    overflow: hidden;
    display: block;
}

a img:hover {
    transform: scale(1.03);
}

.work-image a,
.swiper-slide a,
.conquest-grid a,
.radiolab_grid a,
.book_first_draft a,
.grid a,
.packaging a,
.brochure a,
.prototype a,
#artwork a,
.pele_medals a,
.astro-works-grid a,
.sightings-bg-grid a,
.index_card_img a,
.post_insta_sightings a,
.sightings_ani_fb a,
.sightings_show_fb a,
.light_mobile a,
.wireframe a,
.grandma_hero a,
.hands_hero a,
.hands_grid a,
.hands_img a {
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

a .work-image {
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%);
}

img.circular {
    border-radius: 100%;
}


/* VIDEO */

video {
    max-width: 100%;
    height: auto;
}