                        /* HERO */
                        
                        .sightings {
                            background-color: $color-sightings;
                        }
                        
                        // SIGHTINGS THEME_________
                        .theme_info {
                            padding: 7em 0;
                            .theme_name {
                                .sightings_theme {
                                    text-transform: uppercase;
                                }
                            }
                            .sightings_theme_img {
                                padding-right: 5em;
                            }
                        }
                        
                        @media (max-width: $breakpoint-small) {
                            .theme_info {
                                .sightings_theme_img {
                                    padding-right: 0;
                                }
                            }
                        }
                        /* WIREFRAME ILLUSTRATOR AFTER EFFECTS*/
                        
                        .wireframe .column,
                        .illustrator .column,
                        .sketch .column,
                        .aftereffects .column {
                            margin-right: 5%;
                        }
                        
                        // WIREFRAME
                        .sketches {
                            .row {
                                justify-content: space-between;
                            }
                        }
                        /* illustrator */
                        
                        .illustrator {
                            margin-bottom: 4em;
                            .two-thirds {
                                margin-right: 0;
                                video {
                                    margin-top: 0.5em;
                                }
                            }
                        }
                        
                        // CHARACTER GRIDS ART DESKTOP_____________________
                        .sky_characters_text {
                            margin-top: 4em;
                        }
                        
                        .sightings-sky-grid,
                        .sightings-forest-grid,
                        .sightings-cave-grid,
                        .sightings-bg-grid {
                            margin-bottom: 4em;
                        }
                        
                        .sightings-sky-grid {
                            display: grid;
                            grid-gap: 2em;
                            margin-top: 4em;
                            grid-template-columns: repeat(6, 1fr);
                            grid-template-areas: "sit_fairy sit_fairy leaf_fairy leaf_fairy petal_fairy petal_fairy";
                            .petal_fairy {
                                grid-area: petal_fairy;
                            }
                            .leaf_fairy {
                                grid-area: leaf_fairy;
                            }
                            .sit_fairy {
                                grid-area: sit_fairy;
                            }
                        }
                        
                        .sightings-forest-grid {
                            display: grid;
                            grid-gap: 2em;
                            margin-top: 4em;
                            grid-template-columns: repeat(6, 1fr);
                            grid-template-areas: "rock_monster rock_monster skull_mermaid skull_mermaid nessy nessy";
                            .rock_monster {
                                grid-area: rock_monster;
                            }
                            .skull_mermaid {
                                grid-area: skull_mermaid;
                            }
                            .nessy {
                                grid-area: nessy;
                            }
                        }
                        
                        .sightings-cave-grid {
                            display: grid;
                            grid-gap: 2em;
                            margin-top: 4em;
                            grid-template-columns: repeat(6, 1fr);
                            grid-template-areas: "bird_tech bird_tech green_fuzzy green_fuzzy lizard_angle lizard_angle" "colorful_bird colorful_bird green_squat green_squat lizard_front lizard_front" ". . red_monster red_monster . .";
                            .colorful_bird {
                                grid-area: colorful_bird;
                            }
                            .bird_tech {
                                grid-area: bird_tech;
                            }
                            .red_monster {
                                grid-area: red_monster;
                            }
                            .green_fuzzy {
                                grid-area: green_fuzzy;
                                margin-left: 1.3em;
                                margin-right: -2em;
                            }
                            .green_squat {
                                grid-area: green_squat;
                                align-self: flex-start;
                                margin-right: 1.3em;
                                margin-left: -2em;
                            }
                            .lizard_angle {
                                grid-area: lizard_angle;
                            }
                            .lizard_front {
                                grid-area: lizard_front;
                            }
                        }
                        
                        .sightings-bg-grid {
                            display: grid;
                            grid-gap: 2em;
                            margin-top: 4em;
                            grid-template-columns: repeat(6, 1fr);
                            grid-template-areas: "cloud cloud forest_bg forest_bg cave_bg cave_bg";
                            .cloud {
                                grid-area: cloud;
                            }
                            .forest_bg {
                                grid-area: forest_bg;
                            }
                            .cave_bg {
                                grid-area: cave_bg;
                            }
                        }
                        
                        // CHARACTER GRIDS ART MOBILE_____________________
                        @media (max-width: $breakpoint-small) {
                            .sightings-sky-grid,
                            .sightings-forest-grid,
                            .sightings-cave-grid,
                            .sightings-bg-grid,
                            .sightings-bg-grid {
                                display: block;
                                margin-bottom: 4em;
                            }
                            .petal_fairy,
                            .leaf_fairy,
                            .sit_fairy,
                            .rock_monster,
                            .skull_mermaid,
                            .nessy,
                            .colorful_bird,
                            .bird_tech,
                            .colorful_bird,
                            .bird_tech,
                            .red_monster,
                            .green_fuzzy,
                            .green_squat,
                            .lizard_angle,
                            .lizard_front,
                            .cloud,
                            .forest_bg,
                            .cave_bg {
                                margin-bottom: 2em;
                            }
                        }
                        /* UI DESIGN */
                        
                        .final_ui {
                            img {
                                margin-top: 1em;
                            }
                        }
                        
                        // SIGHTINGS VIDEOS_________________________
                        .sightings_scroll {
                            margin: 4em 0 4em 0;
                            .sightings_tablet_vid {
                                margin: 0 auto;
                            }
                            .sightings_cell_vid {
                                margin: 0 auto;
                            }
                        }
                        
                        @media (max-width: $breakpoint-small) {
                            .sightings_scroll {
                                align-self: center;
                                .sightings_desktop_vid {
                                    align-self: center;
                                }
                            }
                        }
                        
                        // SOCIAL MEDIA GRIDS___________________
                        // INSTA_______
                        .sightings-insta-grid,
                        .sightings-fb-grid {
                            max-width: 80%;
                        }
                        
                        .sightings-insta-grid {
                            display: grid;
                            margin: 2em;
                            grid-gap: 2em;
                            grid-template-columns: repeat(7, 1fr);
                            grid-template-areas: ". phone_insta_sightings phone_insta_sightings phone_insta_sightings . . ." ". phone_insta_sightings phone_insta_sightings phone_insta_sightings post_insta_sightings post_insta_sightings ." ". phone_insta_sightings phone_insta_sightings phone_insta_sightings post_insta_sightings post_insta_sightings ." ". phone_insta_sightings phone_insta_sightings phone_insta_sightings . . .";
                            .phone_insta_sightings {
                                grid-area: phone_insta_sightings;
                            }
                            .post_insta_sightings {
                                grid-area: post_insta_sightings;
                            }
                        }
                        
                        @media (max-width: $breakpoint-small) {
                            .sightings-insta-grid {
                                display: block;
                                .phone_insta_sightings,
                                .post_insta_sightings {
                                    margin-bottom: 1em;
                                }
                            }
                        }
                        
                        // FACEBOOK______
                        .sightings-fb-grid {
                            display: grid;
                            margin: 2em;
                            grid-gap: 2em;
                            grid-template-columns: repeat(7, 1fr);
                            grid-template-areas: "phone_sightings_fb phone_sightings_fb phone_sightings_fb . . . ." "phone_sightings_fb phone_sightings_fb phone_sightings_fb sightings_ani_fb sightings_ani_fb sightings_ani_fb sightings_ani_fb" "phone_sightings_fb phone_sightings_fb phone_sightings_fb sightings_show_fb sightings_show_fb sightings_show_fb sightings_show_fb" "phone_sightings_fb phone_sightings_fb phone_sightings_fb. . . .";
                            .phone_sightings_fb {
                                grid-area: phone_sightings_fb;
                            }
                            .sightings_ani_fb {
                                grid-area: sightings_ani_fb;
                            }
                            .sightings_show_fb {
                                grid-area: sightings_show_fb;
                            }
                        }
                        
                        @media (max-width: $breakpoint-small) {
                            .sightings-fb-grid {
                                display: block;
                                .phone_sightings_fb,
                                .sightings_ani_fb,
                                .sightings_show_fb {
                                    margin-bottom: 1em;
                                }
                            }
                        }
                        
                        // dino button_bottom______________
                        .final_image_bottom {
                            .button {
                                margin-left: 50%;
                                transform: translateX(-50%);
                            }
                        }