.naha {
  background-color: $color-naha;
}

#final_product{
  .naha_art{
    margin-bottom: 4em;
    img{
      margin-top: 2em;
      margin-bottom: .5em;
    }
  }
}
@media (max-width: $breakpoint-small) {
  #final_product{
    .naha_art{
      margin-bottom: 2em;
      margin-top: 2em;
      img{
        margin-top: 1em;
      }
    }
  }
}