            /* #TYPOGRAPHY  */
            /* BODY */
            
            body {
                font-family: $bodyfont-family;
                font-size: 100%;
                line-height: 1.4;
            }
            /* HEADING*/
            
            h1,
            h2,
            h3 {
                margin: 0.5em 0;
                font-weight: 100;
                line-height: 1;
                color: $color-teal;
            }
            
            h1,
            .small-title,
            .teal_subhead,
            .caption,
            .theme,
            .list_strat,
            .sightings_theme {
                font-family: $headingfont-family;
            }
            
            h2,
            h3,
            p {
                font-family: $bodyfont-family;
            }
            
            h1 {
                font-size: 3em;
                line-height: 1.4em;
                font-weight: 500;
                color: $color-red;
                text-transform: uppercase;
            }
            
            h2,
            .theme {
                text-transform: none;
                margin-top: 0.5em;
                margin-bottom: 0.2em;
                font-size: 2em;
                line-height: 1.4;
                font-weight: 700;
                color: $color-teal;
            }
            
            h3 {
                font-size: 1.5em;
                line-height: 1.3;
                font-weight: 700;
                color: $color-teal;
            }
            
            p {
                font-size: 1.2em;
                font-weight: 100;
                font-style: normal;
            }
            
            .teal_subhead {
                font-size: 2em;
                line-height: 1;
                font-weight: 500;
                color: $color-teal;
                text-transform: uppercase;
            }
            
            .thin_subtitle {
                font-weight: 100;
            }
            
            .award,
            .director {
                font-family: $bodyfont-family;
                font-size: 1.5em;
                font-weight: 500;
                color: $color-red;
                font-style: italic;
            }
            
            .small-title {
                font-size: 1em;
                max-width: 35em;
                font-weight: 300;
                font-style: normal;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: $color-teal;
                margin-bottom: 0.5em;
            }
            
            .caption {
                font-size: 0.8em;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                font-weight: 300;
            }
            
            .list_strat {
                font-size: 1.5em;
                line-height: 2em;
                font-weight: 700;
                color: $color-teal;
                text-transform: uppercase;
            }
            
            @media (max-width: 767px) {
                .teal_subhead {
                    font-size: 1.5em;
                }
            }
            
            // headings style_______________________________
            .mainhead {
                font-size: 6em;
                margin-bottom: 0;
            }
            
            .subhead {
                font-family: $headingfont-family;
                color: $color-gray;
                margin-bottom: 1em;
            }
            
            #styletiles,
            section#brand_identity,
            .illustrations,
            section#sketches,
            #logo,
            #storyboard,
            #artwork,
            section#hi-fi,
            #first_draft,
            section#final,
            section#web,
            section#artwork,
            section#motion_graphic,
            #style_guide,
            #final_product,
            #brand_identity,
            #hi-fi,
            #copywriting,
            .illustrator,
            #sketches,
            .conquest-grid,
            .grid #print,
            .wireframe,
            .sighitngs_wire_final {
                padding-top: 10em;
                padding-bottom: 0;
                margin: 0;
            }
            
            section.storyboard,
            .illustrations,
            .book_first_draft,
            section.type_specimen,
            section.sketches,
            .sootheze_sketch_section,
            .brand_strategy,
            section#styletiles,
            section.final_image_bottom,
            section.logo,
            .aftereffects,
            .animation,
            section.wireframe,
            section.prototype,
            .final_ui,
            .copywriting,
            .illustration_explain,
            .final_packaging,
            .final_zoo,
            .brand_strategy,
            .packaging,
            .brochure,
            .swiper-container,
            section.theme_info {
                padding-top: 0;
            }
            
            // Index quote___________________
            .quote {
                margin-top: 5em;
                margin-bottom: 10em;
                h1 {
                    font-family: $bodyfont-family;
                    text-transform: none;
                    color: $color-teal;
                    font-weight: 700;
                    line-height: 1.3em;
                    width: 50vw;
                    text-align: center;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    max-width: 10em;
                }
                .underline {
                    text-decoration-style: dashed;
                    text-decoration-line: underline;
                    text-decoration-color: $color-red;
                }
            }
            
            // art index quote____________________
            .quote_art {
                h1 {
                    font-family: $bodyfont-family;
                    text-transform: none;
                    color: $color-teal;
                    font-weight: 700;
                    line-height: 1.3em;
                    text-align: center;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                h2 {
                    text-align: center;
                    margin: 0 auto;
                    max-width: 25em;
                }
                .underline {
                    text-decoration-style: dashed;
                    text-decoration-line: underline;
                    text-decoration-color: $color-red;
                }
                @media (max-width: $breakpoint-small) {
                    h1 {
                        width: 10em;
                    }
                    h2 {
                        font-size: 1.5em;
                        max-width: 15em;
                    }
                }
            }
            
            // index work_____________________________   
            .work_text_home {
                h2 {
                    font-family: $headingfont-family;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $color-red;
                }
                .work_mcd {
                    text-transform: none;
                }
                .work-title {
                    font-family: $headingfont-family;
                    text-transform: uppercase;
                    color: $color-teal;
                }
                .line {
                    h3 {
                        text-align: right;
                        margin-right: 2em;
                        font-weight: 300;
                        font-size: 1em;
                        letter-spacing: 0.2em;
                    }
                }
                @media (max-width: $breakpoint-small) {
                    h3 {
                        margin-bottom: 0;
                    }
                }
            }
            
            // ABOUT ME__________________________
            .about-me {
                h1 {
                    font-weight: 700;
                }
                .row {
                    .one-half {
                        margin: 0 auto;
                    }
                }
            }
            
            .bold_body {
                font-weight: 700;
            }
            
            .body_gray {
                color: $color-gray;
            }
            
            // HERO_____________________________________
            .hero,
            #work {
                text-align: left;
                margin-bottom: 3em;
                .hero_sub_info {
                    color: $color-black;
                    font-style: italic;
                    display: block;
                    margin-bottom: 0.5em;
                }
                h1 {
                    font-weight: 700;
                    margin: 0;
                    padding: 0;
                }
                h3 {
                    font-weight: 300;
                    color: $color-black;
                    text-transform: none;
                    margin-top: 0;
                }
                .hero_sub-info_title {
                    color: $color-gray;
                    text-transform: uppercase;
                    font-family: $headingfont-family;
                    margin: 0;
                    font-weight: 300;
                    letter-spacing: 0.2em;
                }
            }
            
            // OBJECTIVE______________________
            .objective {
                .hero_sub-info_title {
                    color: $color-gray;
                    text-transform: uppercase;
                    font-family: $headingfont-family;
                    margin: 0;
                    font-weight: 500;
                    letter-spacing: 0.2em;
                }
            }
            
            .hero_sub-info {
                display: block;
                margin-bottom: 0;
            }
            
            // ILLUSTRATION_EXPLAIN___________________________
            #artwork {
                .illustration_explain {
                    max-width: 35em;
                }
            }
            /* TYPOGRAPHIC SCALE DINO______________________*/
            
            .type_dino {
                h1,
                h2,
                h3 {
                    font-family: $dinoheadingfont-family;
                    text-transform: uppercase;
                    color: $color-black;
                    font-weight: 700;
                }
                h1 {
                    margin-top: 0.2em;
                    font-size: 4em;
                    margin-bottom: 0;
                }
                h2 {
                    font-size: 2em;
                }
                h3 {
                    font-size: 1.5em;
                }
                p {
                    font-family: $dinobodyfont-family;
                    font-size: 2em;
                    font-weight: 300;
                    line-height: 1.1;
                    max-width: 17em;
                }
                p strong {
                    font-family: $dinobodyfont-family;
                    text-transform: uppercase;
                    font-weight: 400;
                }
            }
            
            #styletiles .sectionhead {
                font-size: 3em;
            }
            
            //  SOLAR SYSTEM WALK______________________*/
            .type_specimen {
                .type_solar {
                    h1,
                    h2,
                    h3 {
                        font-family: $spaceheaderfont-family;
                        text-transform: uppercase;
                        color: $color-black;
                        font-weight: 700;
                    }
                    h1 {
                        font-size: 4em;
                        margin-bottom: 0;
                        line-height: 1em;
                    }
                    h2 {
                        font-size: 2.5em;
                        margin-top: 0;
                        font-weight: 400;
                    }
                    p {
                        font-family: $spacebodyfont-family;
                        font-size: 1.5em;
                        font-weight: 300;
                        line-height: 1.5;
                        max-width: 17em;
                    }
                    p strong {
                        font-family: $spacebodyfont-family;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
            
            #styletiles .sectionhead {
                font-size: 3em;
            }
            
            // ASTRODAY__________________
            .type_specimen {
                .type_astro {
                    h1 {
                        font-family: $spaceheaderfont-family;
                        text-transform: uppercase;
                        color: $color-black;
                        font-weight: 700;
                    }
                    h2,
                    h3,
                    p {
                        font-family: $spacebodyfont-family;
                        color: $color-black;
                        font-weight: 700;
                    }
                    h1 {
                        font-size: 4em;
                        margin-bottom: 0;
                        line-height: 1em;
                    }
                    h2 {
                        font-size: 2.5em;
                        margin-top: 0;
                    }
                    h3 {
                        text-transform: uppercase;
                        font-size: 1.5em;
                        margin-top: 0;
                        letter-spacing: .1em;
                        color: $color-astro-accent;
                    }
                    p {
                        font-size: 1.25em;
                        font-weight: 300;
                        line-height: 1.5;
                        max-width: 17em;
                    }
                }
            }
            
            // CONQUEST
            .type_conquest {
                h1,
                h2,
                h3 {
                    font-family: $conquestheaderfont-family;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $color-black;
                }
                h1 {
                    margin-top: 0.2em;
                    font-size: 4em;
                    margin-bottom: 0;
                }
                h2 {
                    font-size: 2em;
                }
                h3 {
                    font-size: 1.5em;
                }
                p {
                    font-family: $conquestbodyfont-family;
                    font-size: 1em;
                    font-weight: 300;
                    line-height: 1.5;
                    max-width: 24em;
                }
            }
            
            .brand_strategy,
            .copywriting {
                h2,
                h3 {
                    font-family: $headingfont-family;
                    text-transform: uppercase;
                }
                h3 {
                    font-weight: 300;
                }
                .row {
                    .two-thirds {
                        padding-left: 6em;
                    }
                }
            }
            /* TYPOGRAPHIC SCALE pele______________________*/
            
            .type_pele {
                h1,
                h2,
                h3 {
                    font-family: $peleheader-bodyfont-family;
                    text-transform: uppercase;
                    color: $color-black;
                    font-weight: 700;
                }
                h1 {
                    margin-top: 0.2em;
                    font-size: 4em;
                    margin-bottom: 0;
                }
                h2 {
                    font-size: 2em;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 1.5em;
                    letter-spacing: 4px;
                    margin-top: 0;
                }
                p {
                    font-family: $pelebodyfont-family;
                    font-size: 1.1em;
                    font-weight: 100;
                    line-height: 2em;
                    margin-right: 2em;
                }
            }
            
            #styletiles .sectionhead {
                font-size: 3em;
            }
            
            // TYPE SCALE MAUNAKEA OBSERVATORIES_________
            .type_mk {
                h1,
                h2 {
                    color: $color-black;
                    font-family: $mkheaderfont-family;
                    text-transform: uppercase;
                    margin: 0;
                }
                h1 {
                    font-size: 4em;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
                h2 {
                    font-size: 2em;
                    font-weight: 400;
                    letter-spacing: .3em;
                }
            }
            /* TYPOGRAPHIC SCALE SIGHTINGS______________________*/
            
            .type_sightings {
                h1,
                h2,
                h3,
                .small_title {
                    color: $color-black;
                    font-family: $sightingscondensedfont-family;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 0;
                }
                h1 {
                    font-size: 4em;
                }
                h2 {
                    font-size: 2.9em;
                }
                h2,
                h3 {
                    letter-spacing: .02em;
                }
                h3 {
                    font-size: 2.5rem;
                    font-weight: 100;
                }
                h4 {
                    font-size: 1.9rem;
                    font-weight: 500;
                    font-style: italic;
                    letter-spacing: .01em;
                    margin: 0;
                    font-family: $sightingsheaederfont-family;
                }
                .small_title {
                    letter-spacing: .15em;
                    font-size: 1.3rem;
                    margin-top: 1.5em;
                    margin-bottom: 0;
                }
                p {
                    font-size: 1.2rem;
                    line-height: 1.5;
                    font-weight: 100;
                    font-style: normal;
                    font-family: $sightingsbodyfont-family;
                    margin-top: .5em;
                    ;
                }
            }
            
            #styletiles .sectionhead {
                font-size: 3em;
            }
            
            // work toggle
            .toggle_title {
                color: $color-gray;
                font-style: italic;
                font-family: $bodyfont-family;
                font-size: 0.9em;
                font-weight: 100;
                margin-top: 0.2em;
                font-style: normal;
                text-transform: uppercase;
                display: block;
                opacity: 1;
            }
            
            .next {
                a:hover,
                .toggle_title_next {
                    opacity: 0;
                }
            }
            
            .work_toggle a:hover {
                font-weight: 700;
            }
            
            // Mcdonald's text______________
            .work_mcd {
                text-transform: none;
            }
            
            // Tomy email__________
            .footer {
                p:hover {
                    font-weight: 700;
                }
            }